


.boxblue {
	position: relative;
	width: 500px;
	height: 500px;
	background-color: blue;
}

.boxgreen {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: green;
	bottom:  40px;
	left: 50px;
}

.boxred {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: red;
	bottom:  40px;
	left: 350px;
}