

.boxblue {
	position: relative;
	width: 400px;
	height: 400px;
	background-color: blue;
}

.boxgreen {
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: green;
	top:  40px;
	left: 50px;
}

.boxred {
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: red;
	top:  70px;
	left: 100px;
}
